@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center
}

/* navbar styling */
.navbar ul {
    list-style: none;
    background-color: #4F4A41;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

.active {
    background-color: #88BDBC;
}

.navbar a:hover {
    background-color: #88BDBC;
}


/* page styling */

.about-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dbd9d5;
}

.about-section {
    background: url(images/aboutme.jpg) no-repeat;
    background-size:cover;
    background-color: #88BDBC;
    overflow:hidden;
    padding: 100px 0;
}

.inner-container {
    width: 40%;
    background-color: #112d32;
    opacity: 0.6;
    padding: 140px;
}

    .inner-container h1 {
        color: white;
        margin-bottom: 30px;
        font-size: 60px;
        font-family: 'Lobster', cursive;
        font-weight: 900;
    }

.text{
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 50px;
}


.talent {
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    text-emphasis-style: double-circle;
}
footer {
    text-align: center;
    background-color: #4F4A41;
    color: #dbd9d5;
    padding: 50px;
    font-family: Roboto, sans-serif;
    text-shadow: initial;
}